* {
  margin: 0;
  padding: 0;
}

/*.containerlogo {
  border: 1px solid tomato;
}

.headerlogo {
  height: 50px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  flex: auto;
}

.animated {
  font-family: 'Montserrat', sans-serif;
}

.topnav {
  display: inline-flex;;
  border: 1px solid black;
}

.topnavbutton {
  border: 1px solid black;
}*/
