* {
  margin: 0;
  padding: 0;
}

.toplogo {
  border: 1px solid tomato;
}

.toplogo .animated {
  text-align: center;
}

.animated {
  font-family: 'Montserrat', sans-serif;
}

.topnav {
  display: inline-flex;
  float: right;
  margin: 5px;
}
